<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mehanizam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Mehanizam.Properties.Settings>
            <setting name="OzakonjenjaDirektorijum" serializeAs="String">
                <value />
            </setting>
            <setting name="KataloziDirektorijum" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjektiDirektorijum" serializeAs="String">
                <value />
            </setting>
            <setting name="RevizijaDirektorijum" serializeAs="String">
                <value />
            </setting>
            <setting name="TehnickiPregledDirektorijum" serializeAs="String">
                <value />
            </setting>
            <setting name="PredmerPredracunDirektorijum" serializeAs="String">
                <value />
            </setting>
            <setting name="SpecifikacijeMaterijalaDirektorijum" serializeAs="String">
                <value />
            </setting>
            <setting name="InformacijeBaza" serializeAs="String">
                <value />
            </setting>
            <setting name="DelovodnikBaza" serializeAs="String">
                <value />
            </setting>
            <setting name="PredracuniBaza" serializeAs="String">
                <value />
            </setting>
            <setting name="RacuniBaza" serializeAs="String">
                <value />
            </setting>
            <setting name="PriznaniceBaza" serializeAs="String">
                <value />
            </setting>
            <setting name="UplatniceBaza" serializeAs="String">
                <value />
            </setting>
            <setting name="CeopBaza" serializeAs="String">
                <value />
            </setting>
            <setting name="OvlascenjaBaza" serializeAs="String">
                <value />
            </setting>
            <setting name="PredracunPilot" serializeAs="String">
                <value />
            </setting>
            <setting name="RacunPilot" serializeAs="String">
                <value />
            </setting>
            <setting name="PriznanicaPilot" serializeAs="String">
                <value />
            </setting>
            <setting name="UplatnicaPilot" serializeAs="String">
                <value />
            </setting>
            <setting name="OvlascenjePilot" serializeAs="String">
                <value />
            </setting>
            <setting name="InformacijePristupBazi" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DelovodnikPristupBazi" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PredracuniPristupBazi" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RacuniPristupBazi" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PriznanicePristupBazi" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UplatnicePristupBazi" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CeopPristupBazi" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OvlascenjaPristupBazi" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OzakonjenjePristupDirektorijumu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OzakonjenjePredmetPristupDirektorijumu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KatalogPristupDirektorijumu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KatalogPredmetPristupDirektorijumu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProjektiPristupDirektorijumu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProjektiPredmetPristupDirektorijumu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RevizijaPristupDirektorijumu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RevizijaPredmetPristupDirektorijumu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TehnickiPregledPristupDirektorijumu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TehnickiPregledPredmetPristupDirektorijumu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PredmerPredracunPristupDirektorijumu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PredmerPredracunPredmetPristupDirektorijumu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpecifikacijaMaterijalaPristupDirektorijumu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpecifikacijaMaterijalaPredmetPristupDirektorijumu"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LozinkaZaProgram" serializeAs="String">
                <value />
            </setting>
            <setting name="LozinkaZaPodesavanja" serializeAs="String">
                <value />
            </setting>
            <setting name="PismoPilot" serializeAs="String">
                <value />
            </setting>
            <setting name="EeeDirektorijum" serializeAs="String">
                <value />
            </setting>
            <setting name="EeePristupDirektorijumu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EeePredmetPristupDirektorijumu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PredracuniDirektorijum" serializeAs="String">
                <value />
            </setting>
            <setting name="PredracuniPristupDirektorijumu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RacuniDirektorijum" serializeAs="String">
                <value />
            </setting>
            <setting name="RacuniPristupDirektorijumu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PriznaniceDirektorijum" serializeAs="String">
                <value />
            </setting>
            <setting name="PriznanicePristupDirektorijumu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UplatniceDirektorijum" serializeAs="String">
                <value />
            </setting>
            <setting name="UplatnicePristupDirektorijumu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OvlascenjaDirektorijum" serializeAs="String">
                <value />
            </setting>
            <setting name="OvlascenjaPristupDirektorijumu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PotpisiPecatiLica" serializeAs="String">
                <value />
            </setting>
            <setting name="PotpisiPecatiGP" serializeAs="String">
                <value />
            </setting>
            <setting name="PotpisiPecatiA" serializeAs="String">
                <value />
            </setting>
            <setting name="PotpisiPecatiK" serializeAs="String">
                <value />
            </setting>
            <setting name="PotpisiPecatiH" serializeAs="String">
                <value />
            </setting>
            <setting name="PotpisiPecatiE" serializeAs="String">
                <value />
            </setting>
            <setting name="PotpisiPecatiTS" serializeAs="String">
                <value />
            </setting>
            <setting name="PotpisiPecatiM" serializeAs="String">
                <value />
            </setting>
            <setting name="PotpisiPecatiEEE" serializeAs="String">
                <value />
            </setting>
            <setting name="PvOvlascenjaMesto" serializeAs="String">
                <value />
            </setting>
            <setting name="PvOvlascenjaJedninaMnozina1" serializeAs="String">
                <value />
            </setting>
            <setting name="PvOvlascenjaOvlascenjeDao" serializeAs="String">
                <value />
            </setting>
            <setting name="PvOvlascenjaOvlascenjePrimio" serializeAs="String">
                <value />
            </setting>
            <setting name="PvOvlascenjaJedninaMnozina2" serializeAs="String">
                <value />
            </setting>
            <setting name="PvOvlascenjaKontekst" serializeAs="String">
                <value />
            </setting>
            <setting name="CeopDirektorijum" serializeAs="String">
                <value />
            </setting>
            <setting name="CeopPristupDirektorijumu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CeopPredmetPristupDirektorijumu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ArhivaDirektorijum" serializeAs="String">
                <value />
            </setting>
            <setting name="ArhivaKopijaDirektrijum" serializeAs="String">
                <value />
            </setting>
            <setting name="UgovoriDirektorijum" serializeAs="String">
                <value />
            </setting>
            <setting name="UgovorPredmetPristupDirektorijumu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UgovoriPristupDirektorijumu" serializeAs="String">
                <value>True</value>
            </setting>
        </Mehanizam.Properties.Settings>
    </userSettings>
</configuration>